---
---

<header class="header">
  <span class="header__logo">LandingPage</span>
  <nav class="header__nav">
    <a class="header__link" href="/">Inicio</a>
    <a class="header__link" href="/proyecto">Proyecto</a>
    <a class="header__link" href="/contacto">Contacto</a>
  </nav>
</header>
